<footer class="footer">

    <figure class="snip1566">
        <img src="/images/mapaPerla.png" alt="sq-sample19" />
        <figcaption><i class="ion-android-star-outline"></i></figcaption>
        <a href="https://www.google.com/maps/dir//Platja,+Carrer+del+Cap+Blanc,+46400+Cullera,+Valencia/@39.1817902,-0.3097176,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0xd61c8cc5b14aa9f:0x7d56df5f11957286!2m2!1d-0.2273167!2d39.1818193?entry=ttu"
            target="_blank"></a>
    </figure>


    <div class="icons">


        <a href="https://www.facebook.com/perlanegrabeach" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="https://www.instagram.com/perlanegracullera/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>


    </div>
    <div class="copyright">
        <p>© 2024 La Perla Negra &nbsp &nbsp | &nbsp &nbsp Precios con IVA incluido.</p>
    </div>
</footer>